/* FONTS */

@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  font-family: Manrope, sans-serif;
  color: #0e2137;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------- END -------- */

/* COMMON */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

._req {
  border-color: red;
}

.icon__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  border-radius: 54px;
  box-shadow: 0px 4px 11.1px 0px rgba(255, 122, 1, 0.5);
  background: linear-gradient(90deg, rgb(255, 125, 2), rgb(252, 161, 10) 100%);
}

.whiteout {
  position: absolute;
  z-index: -1;
  height: 65%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(14, 33, 55, 0),
    rgba(14, 33, 55, 0.8) 100%
  );
}

/* -------- END -------- */

/* BUTTONS */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  border-radius: 52px;
  box-shadow: 0px 4px 20px 0px rgba(255, 122, 1, 0.4);
  background: linear-gradient(90deg, rgb(255, 125, 2), rgb(252, 161, 10) 100%);
}

.btn-show {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(14, 33, 55, 0.5);
  cursor: pointer;
}

.btn-show::after {
  content: '';
  display: inline-block;
  height: 14px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../images/icons/icon_arrow-1.svg');
  background-size: 25px;
}

.arrow-up::after {
  transform: rotate(270deg);
}

.btn__more {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .btn {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1540px) {
  .container {
    max-width: 1140px;
  }
}

/* -------- END -------- */

/* REUSABLE */

.container__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container__row {
  display: flex;
  align-items: center;
}

.container__title {
  display: flex;
  font-size: 64px;
  font-weight: 500;
}

/* -------- END -------- */

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.swiper-pagination {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

/* SLIDER 2 */

.partners-slider__pagination {
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.partners-slider__pagination .swiper-pagination-bullet {
  margin: 0 !important;
  background: transparent !important;
  height: 8px !important;
  width: 8px !important;
  border: 1px solid #fff !important;
}

.partners-slider__pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}

/* SLIDER 1 */

.slider__btn-prev,
.slider__btn-next {
  width: 84px;
  height: 84px;
  display: flex;
  background-image: url('../images/icons/icon_arrow-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  background-color: rgb(216, 233, 250);
  box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.1);
  border: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  transform: rotate(-180deg);
  z-index: 3;
}

.slider__btn-next {
  transform: rotate(0deg);
}

.slider__btn-prev.swiper-button-disabled,
.slider__btn-next.swiper-button-disabled {
  background-color: #fff;
}

.template-slider__pagination .swiper-pagination-bullet {
  display: flex;
  margin: 0 !important;
  background: #d8e9fa !important;
  height: 12px !important;
  width: 12px !important;
  border: 1px solid rgba(14, 33, 55, 0.1) !important;
}

.template-slider__pagination .swiper-pagination-bullet-active {
  background: #058fb9 !important;
}

.template-slider__pagination {
  height: 84px;
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.template-1__slider-nav {
  top: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  display: flex;
  gap: 12px;
}

.template-2__slider-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 1024px) {
  .template-2__slider-nav {
    top: auto;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 755px;
  width: 100%;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 17px;
  background-color: #fff;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  display: flex;
  align-self: flex-end;
  margin: 24px 24px 0px 0px;
  width: 36px;
  height: 36px;
  background: url('../images/icons/clarity_close-line.svg') center/32px
    no-repeat;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .popup__close {
    margin: 20px 20px 0px 0px;
  }

  .popup__content {
    max-width: 664px;
  }
}

@media (max-width: 375px) {
  .popup__close {
    width: 24px;
    height: 24px;
    margin: 12px 12px 0px 0px;
  }

  .popup__content {
    max-width: 664px;
  }
}

/* -------- END -------- */

/* FEEDBACK FORM */

.feedback__form {
  margin-top: 55px;
}

.feedback__form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.feedback__form-title {
  font-size: 40px;
  font-weight: 600;
}

.feedback__form-subtext {
  max-width: 540px;
  font-size: 20px;
  line-height: 30px;
}

.feedback__wrapper {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px auto auto auto;
  padding-bottom: 63px;
}

.feedback__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__input {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 20px 44px;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  border-radius: 63px;
}

.feedback__input::placeholder {
  color: rgba(14, 33, 55, 0.3);
}

.feedback__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__button {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}

.feedback__check {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  text-align: left;
}

.feedback__confirm {
  font-size: 14px;
  line-height: 21px;
}
.feedback__confirm a {
  color: #00a1d0;
  text-decoration: underline;
}

/* Hide the default checkbox */
.custom-checkbox input {
  display: none;
}

/* Style the label to be the custom checkbox */
.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-family: Arial, sans-serif;
}

/* Create the custom checkbox with a transparent background */
.custom-checkbox .checkmark {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  margin-top: 4px;
  cursor: pointer;
  background-color: #ff7a01;
  border-radius: 2px; /* Rounded corners, adjust as needed */
  vertical-align: middle;
  position: relative;
}

/* Style the checkmark */
.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  top: auto;
  left: 35%;
  bottom: 25%;
  width: 2.5px;
  height: 7.45px;
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transform-origin: center;
  background: transparent;
}

/* Optional: Add some styling for the label text */
.custom-checkbox span {
  color: white; /* Text color, adjust as needed */
  font-size: 16px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .feedback__form {
    margin-top: 48px;
  }

  .feedback__form-title {
    font-size: 32px;
  }

  .feedback__form-subtext {
    max-width: 488px;
    font-size: 18px;
    line-height: 27px;
  }

  .feedback__form-text {
    gap: 16px;
  }
}

@media (max-width: 375px) {
  .feedback__form {
    margin-top: 42px;
    padding: 0px 22.5px;
  }

  .feedback__form-title {
    font-size: 24px;
    line-height: normal;
  }

  .feedback__form-subtext {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
  }

  .feedback__form-text {
    padding: 0px 21px;
    gap: 12px;
  }

  .feedback__wrapper {
    margin-top: 36px;
    padding-bottom: 49px;
    gap: 12px;
  }

  .feedback__inputs {
    gap: 12px;
  }

  .feedback__input {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .feedback__inner {
    gap: 12px;
  }

  .feedback__confirm {
    font-size: 10px;
    line-height: 16px;
  }
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  margin-top: 20px;
  z-index: 100;
}

.header__nav {
  display: flex;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.header__top-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-inner {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header__logo {
  display: flex;
  margin-top: 7px;
}

.mobile__logo {
  display: none;
}

.header__socials-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header__socials-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.socials-1__item,
.socials-2__item {
  display: flex;
}

.header__phone-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__phone-inner {
  display: flex;
  flex-direction: column;
}

.header__phone-inner a {
  font-size: 28px;
  font-weight: 600;
}

.header__phone-inner span {
  font-size: 20px;
  line-height: 30px;
}

.header__bottom-container {
  max-width: 100%;
  width: 100%;
}

.header__menu {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.sub-menu__list {
  width: 100%;
  min-width: max-content;
  display: none;
  position: absolute;
  left: 0;
  top: 27px;
  padding-top: 20px;
}

.sub-menu__list > li {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-menu__link {
  display: flex;
  padding: 15px 20px;
  line-height: 21px;
}

.drop__link {
  position: relative;
}

.drop__link > .menu__link,
.drop-menu__link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.drop__link:hover .sub-menu__list {
  display: flex;
  flex-direction: column;
}

.drop__icon::after {
  content: '';
  display: block;
  height: 26px;
  width: 13px;
  background-image: url('../images/icons/icon_arrow-down.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}

.drop__link:hover .drop__icon::after {
  transform: rotate(-180deg);
}

.drop__icon.active::after {
  transform: rotate(-180deg) !important;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
  }

  .mobile__logo {
    display: flex;
  }

  .icon__burger {
    position: relative;
    z-index: 10;
    width: 103px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background: linear-gradient(
      90deg,
      rgb(255, 125, 2),
      rgb(252, 161, 10) 100%
    );
  }

  .burger__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    margin: 0px 40px;
    border-bottom: 1px solid rgba(14, 33, 55, 0.2);
    z-index: 100;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 38px;
    height: 27px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    top: 12.5px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 10px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 14px;
  }

  .menu__burger.active > span {
    background-color: #fff;
  }

  .header__nav.active {
    transform: translateX(0);
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: translateX(110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 2;
    border-radius: 0px 0px 0px 3px;
    background: #fff;
  }

  .header__menu {
    max-width: 515px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    padding: 0px 40px 60px 40px;
  }

  .header__top-container {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
    padding: 0px 40px;
  }

  .header__container {
    padding-top: 189px;
  }

  .header__top-inner .header__logo {
    display: none;
  }

  .header__phone-container {
    grid-column: 1 / 3;
    order: 1;
    padding: 28px 0px;
    border-top: 1px solid rgba(14, 33, 55, 0.2);
    border-bottom: 1px solid rgba(14, 33, 55, 0.2);
  }

  .header__top-inner {
    padding: 29px 0px;
    order: 2;
  }

  .header__socials-2 {
    order: 3;
  }

  .sub-menu__list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 10px;
    padding-left: 10px;
    transform: scale(0);
    position: absolute;
  }

  .sub-menu__list.active {
    transform: scale(1);
    position: initial;
  }

  .sub-menu__link {
    padding: 10px 0px;
    font-size: 18px;
  }

  .sub-menu__list > li {
    border-top: none;
  }

  .drop__link {
    flex-direction: column;
    align-items: flex-start;
  }

  .drop__link:hover .drop__icon::after {
    transform: rotate(0deg);
  }
}

@media (max-width: 375px) {
  .mobile__logo {
    max-width: 158px;
  }

  .icon__burger {
    width: 76px;
    height: 50px;
  }

  .header__container {
    padding-top: 122px;
  }

  .header__menu {
    padding-bottom: 32px;
  }

  .menu__link {
    font-size: 16px;
    line-height: 24px;
  }

  .header__phone-container {
    padding: 20px 0px;
    grid-column: 1 / 2;
  }

  .header__phone-inner a {
    font-size: 18px;
  }

  .header__phone-inner span {
    font-size: 14px;
    line-height: 21px;
  }

  .header__top-inner {
    justify-content: center;
    padding: 32px 0px;
  }

  .header__socials-1 {
    width: 100%;
    justify-content: space-between;
  }

  .header__socials-2 {
    padding-bottom: 39px;
  }

  .sub-menu__link {
    padding: 5px 0px;
    font-size: 14px;
  }
}

/* -------- END -------- */

/* ABOUT */

.about {
  margin-top: 100px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about__inner-container {
  display: flex;
  align-items: flex-end;
  gap: 28px;
}
.about__img {
  max-width: 708px;
  width: 100%;
  height: 408px;
  object-fit: cover;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__description-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__title {
  font-size: 48px;
  font-weight: 500;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__text {
  font-size: 20px;
  line-height: 30px;
}
.about .btn__more {
  color: rgba(14, 33, 55, 0.5);
}
.about__video {
  position: relative;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  background-image: url('../images/about/div_video.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.about__button-play {
  width: 156px;
  height: 156px;
  display: flex;
  background-image: url('../images/icons/icon_polygon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  border-radius: 100px;
  background-color: rgb(216, 233, 250);
  box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.1);
  border: 7.4px solid rgb(255, 255, 255);
  cursor: pointer;
  z-index: 3;
}

/* -------- END -------- */

/* CLIENTS / AGENCY */

.clients,
.agency {
  margin-top: 100px;
}

.clients .container,
.agency .container {
  position: relative;
}

.brand__slider-item {
  max-width: 345px;
  width: 100%;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(14, 33, 55, 0.05);
  border-radius: 12px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.clients__slider .template-slider__pagination,
.agency__slider .template-slider__pagination {
  display: none;
}

@media (max-width: 1024px) {
  .clients__slider .template-slider__pagination,
  .agency__slider .template-slider__pagination {
    display: flex;
  }
}

/* -------- END -------- */

/* TRAVEL */

.travel {
  margin-top: 100px;
}

.travel__inner {
  position: relative;
  height: 546px;
  display: flex;
  align-items: flex-end;
  border-radius: 30px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  overflow: hidden;
}

.travel__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.travel__title {
  padding: 0px 40px 40px 40px;
  font-size: 64px;
  font-weight: 500;
  color: #fff;
}

/* -------- END -------- */

/* ORGANIZATION */

.organization {
  margin-top: 100px;
}

.organization .container {
  position: relative;
}

.organization__slider-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.organization-slider__img {
  display: flex;
  max-width: 467px;
  width: 100%;
  height: 543px;
  border-radius: 15px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  object-fit: cover;
}

.organization__card-description {
}

.organization__card-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.organization__card-location {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
}

.organization__card-location img {
  opacity: 0.5;
}

.organization__card-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(14, 33, 55, 0.5);
}

.organization__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.organization__card-price {
  font-size: 28px;
  font-weight: 700;
  color: #058fb9;
}

.organization__button {
  max-width: 201px;
  width: 100%;
  padding: 10.5px;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  color: rgba(14, 33, 55, 0.3);
  box-shadow: none;
}

/* -------- END -------- */

/* NEWS */

.news {
  margin-top: 100px;
}

.news .container {
  position: relative;
}

.news__slider-item {
  max-width: 467px;
  width: 100%;
  height: 543px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border: 1px solid rgba(14, 33, 55, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.news-slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.news__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 24px 24.5px 24px;
}

.news__title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

/* -------- END -------- */

/* SEO */

.seo {
  margin-top: 100px;
}

.seo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__title {
  font-size: 64px;
  font-weight: 500;
}

.seo__title-2 {
  font-size: 40px;
  font-weight: 500;
}

.seo__title-3 {
  font-size: 28px;
  font-weight: 500;
}

.seo__text-wrapper {
  display: flex;
  gap: 28px;
}

.seo__text {
  font-size: 20px;
  line-height: 30px;
}

.seo__text-hidden {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.seo__list {
  max-width: 50%;
  width: 100%;
}

.seo__list li {
  list-style: inherit;
  list-style-position: inside;
}

.seo__text-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .seo__text-wrapper {
    flex-direction: column;
  }

  .seo__list {
    max-width: 100%;
  }
}

@media (max-width: 564px) {
  .seo__title {
    font-size: 24px;
    line-height: 36px;
  }

  .seo__title-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .seo__title-3 {
    font-size: 16px;
    line-height: 20px;
  }
}

/* -------- END -------- */

/* QUESTIONS */

.questions {
  height: 899px;
  background-image: url('../images/backgrounds/img_bg_questions.jpg');
}

.questions__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding-top: 166px;
}

.questions__inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.questions__title {
  font-size: 74px;
  font-weight: 500;
}

.questions__subtitle {
  font-size: 32px;
  text-align: center;
}

.questions__button {
  max-width: 418px;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}

/* -------- END -------- */

/* FOOTER */

.footer {
}
.footer__container {
}

.footer__banner {
  display: flex;
  justify-content: space-between;
  padding: 29.5px 50px 29.5px 60px;
  margin-top: -55px;
  margin-bottom: 100px;
  border: 1px solid rgba(14, 33, 55, 0.1);
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.footer-banner__phone-container {
  display: flex;
  gap: 40px;
}

.footer-banner__phone-container .icon__circle {
  width: 94px;
  height: 94px;
}

.footer-banner__phone-container .icon__circle img {
  width: 41px;
  height: 41px;
}

.footer-banner__phone-inner {
  display: flex;
  flex-direction: column;
}

.footer-banner__phone-inner span {
  font-size: 32px;
}

.footer-banner__phone-inner a {
  font-size: 74px;
  font-weight: 500;
}

.footer__banner-socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__banner-inner {
  display: flex;
  gap: 40px;
}

.socials__item {
  width: 88px;
  height: 88px;
  display: flex;
}

.footer__socials-text {
  font-size: 32px;
}

.footer__inner {
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 40px;
}

.footer__top-row {
  display: flex;
  justify-content: space-between;
}

.footer__top-row:nth-child(1) .footer__top-row-text:nth-child(1) {
  max-width: 385px;
  text-align: left;
}

.footer__top-row:nth-child(1) .footer__top-row-text:nth-child(3) {
  max-width: 436px;
  text-align: right;
}

.footer__top-row-text {
  font-size: 28px;
  font-weight: 600;
}

.footer__logo {
  max-width: 337px;
  width: 100%;
}

.footer__info-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__phone-inner {
  display: flex;
  flex-direction: column;
}

.footer__mail-inner {
  display: flex;
  flex-direction: column;
}

.footer__phone-inner span,
.footer__mail-inner span {
  font-size: 20px;
  line-height: 30px;
}

.footer__location-inner a,
.footer__phone-inner a,
.footer__mail-inner a {
  font-size: 28px;
  font-weight: 600;
}

.footer__middle {
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 40px 0px;
  border-top: 1px solid rgba(14, 33, 55, 0.1);
  border-bottom: 1px solid rgba(14, 33, 55, 0.1);
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__nav-title {
  font-size: 28px;
  font-weight: 600;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list-item {
}

.footer__item-link {
  font-size: 20px;
  line-height: 30px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 19px 0px;
}

.footer__bottom-text span {
  font-size: 20px;
  line-height: 30px;
}

/* -------- END -------- */
